.bookingCard {
    margin-bottom: 1rem;
}

.imageContainer {
    min-width: 200px;
    overflow: hidden;
}

.roomImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dateTag {
    font-size: 0.875rem;
}

.price {
    color: var(--primary-color);
}

/* Add hover effect */
.bookingCard>div {
    transition: box-shadow 0.3s ease;
}

.bookingCard>div:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}